@charset "UTF-8";

@font-face {
    font-family: "Avenir Roman";
    src: url("avenir-roman.ttf") format("truetype");
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Avenir Roman";
    overflow-x: hidden;
}

body {
    background-color: #040714;
}

section#inicio {
    height: 100vh;
    width: 100vw;
    background-image: url(imagens/bg-grande.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

section#inicio p {
    color: rgba(192, 192, 192, 0.8);
}

.login {
    position: absolute;
    position: fixed;
    top: 15px;
    right: 32px;
    background-color: #040714;
    border: 1px solid silver;
    color: #f9f9f9;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: 500;
    transition-duration: 0.5s;
}

a.login:hover {
    background-color: #f9f9f9;
    color: #040714;
}

.conteudo {
    margin-left: 6vw;
}

.logo {
    max-width: 180px;
    max-height: 98px;
    margin-bottom: 15px;
}

.h1inicio {
    color: #f1f1f1;
    font-size: 44px;
    margin-bottom: 15px;
}

div#container-precos {
    display: flex;
    width: 640px;
}

.precos {
    width: 300px;
    margin-right: 12px;
}

span {
    color: #f1f1f1;
    font-size: 26px;
    font-weight: bold;
}

.preco {
    margin-bottom: 8px;
}

.texto-sub {
    font-size: 17px;
    margin-bottom: 15px;
}

.sub {
    text-decoration: none;
    background: #016cf9;
    color: #f1f1f1;
    width: 290px;
    padding: 16.5px 24px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 20px;
    overflow-y: hidden;
}

.precos:first-child {
    display: grid;
}

.precos:first-child a {
    align-self: end;
}

.pequenas {
    width: 600px;
    text-align: justify;
    font-size: 12px;
}

.second {
    height: 110vh;
    display: flex;
}

.second-image-div {
    width: 50vw;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.second-image {
    width: 44.5vw;
    height: 78vh;
    margin-right: 0.5vw;
}

.second-text {
    width: 40vw;
    height: 110vh;
}

.second-text h2 {
    color: #f9f9f9;
    font-size: 40px;
    margin-left: 1.5vw;
    margin-top: 50px;
    padding: 3px;
    margin-bottom: 15px;
}

.second-text li {
    color: rgba(192, 192, 192, 0.8);
    font-size: 20px;
    list-style-type: disc;
    margin-left: 4.5vw;
    overflow-x: visible;
    margin-bottom: 15px;
}

.third {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    margin-bottom: 15vh;
}

.fourth-devices {
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
}

.fourth h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 40px;
    color: #f9f9f9;
}

.devices {
    height: 24vh;
    width: 22vw;
}

.device-div {
    width: 22.5vw;
    text-align: center;
}

.device-div h3 {
    margin-top: 20px;
    margin-bottom: 24px;
    font-size: 28px;
    color: #f9f9f9;
    font-weight: 700;
}

.device-div li {
    font-size: 18px;
    color: rgba(192, 192, 192, 0.8);
    margin-bottom: 1px;
}
